* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


/*******      ログイン画面      *******/
* {
  margin: 0;
  padding: 0;
}

#login-body {
  height: 100%;
  background-color: #C5CAE9;
}

/* フォームの大きさ */
#login-form {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#login-form .form-field {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

#login-form input, #login-form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/
#login-form .form-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#login-form .form-button:hover, #login-form .form-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.form-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
/*******  ログイン画面ここまで   *******/




/*******      ログイン後の画面      *******/
/* Header */
.header {
  overflow: hidden;
  background-color: #3849aa;
  height: 50px;
}

/* Header link */
.header a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.header a.right {
  float: right;
}

/* Change color on hover */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Container */
.row {  
  display: flex;
  flex-wrap: wrap;
  /* display: -ms-flexbox;
  -ms-flex-wrap: wrap; IE10 */
}


/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}


/* Navigation side bar */
.menu {
  /* -ms-flex: 30%; */
  flex: 10%;
  /* background-color: #303F9F; */
  background-color: #C5CAE9;
  color: #fff;
  padding: 20px;
  margin: 0;

    /* background: white; */
  border: 0 none;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.menu a {
  text-decoration: none;
}

ul {
  list-style: none;
  width: 100%;
  z-index: 1;
}


li.menu__item {
  /* background: #303F9F; */
  color: #fff;
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  text-align: center;
}

li.menu__item:hover {
  color: white;
  background: #3849aa;
}

li.menu__item:hover a.js-menu__item__link{
    color: white;
}

a.menu__item__link {
  color: #202020;
  display: block;
  line-height: 60px;
  padding: 0 1rem;
  position: relative;
}

ul.submenu {
  background: #fff;
  display: none;
  padding: 0;
}

li.submenu__item {
  border-bottom: 1px solid #5200b7;
  color: #222;
  padding: 1rem;
  font-size: 12px;
}


/* Footer */
.footer {
  padding: 1px;
  text-align: center;
  background: #ddd;
}


/* Resoponsive Design */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}


@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}